<p id="notice"><%= notice %></p>

<h1>Payment Summaries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_summaries.each do |payment_summary| %>
      <tr>
        <td><%= link_to 'Show', payment_summary %></td>
        <td><%= link_to 'Edit', edit_payment_summary_path(payment_summary) %></td>
        <td><%= link_to 'Destroy', payment_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Summary', new_payment_summary_path %>
