.page.vertical-align.text-center{ 'data-animsition-in' => 'fade-in', 'data-animsition-out' => 'fade-out' }
  \&gt;
  .page-content.vertical-align-middle.animation-slide-top.animation-duration-1
    .panel
      .panel-body
        .brand
          %h2.brand-text.font-size-18 Full Stack Chang
        = form_for(resource, as: resource_name, url: user_session_path) do |f|
          .form-group.form-material.floating{ "data-plugin" => "formMaterial" }
            = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
            = f.label :email, class: 'floating-label'
          .form-group.form-material.floating{ "data-plugin" => "formMaterial" }
            = f.password_field :password, class: 'form-control'
            = f.label :password, class: 'floating-label'
          .form-group.form-material.floating{ "data-plugin" => "formMaterial" }
            = f.text_field :otp_attempt, class: 'form-control'
            = f.label :otp_attempt, class: 'floating-label'
          %button.btn.btn-primary.btn-block.btn-lg.mt-40{ type: 'submit' } Sign in
  %footer.page-copyright.page-copyright-inverse
    %p WEBSITE BY Full Stack Chang
    %p © 2019. All RIGHT RESERVED.
