.container-fluid#home
  .profile-foreground.position-relative.mx-n4.mt-n4
    .profile-wid-bg
      = image_tag 'https://res.cloudinary.com/hv5cxagki/image/upload/f_auto,q_auto/v1/fsc/IMG_0409_eorutd', class: 'profile-wid-img'
  .pt-4.mb-4.mb-lg-3.pb-lg-4.profile-wrapper
    .row.g-4
      .col-auto
        .avatar-lg
          = image_tag asset_path('steve avatar cropped.jpg'), alt: 'user-img', class: 'img-thumbnail rounded-circle'
      .col
        .p-2
          %h3.text-white.mb-1 Steven Chang
          %p.text-white.text-opacity-75 FOUNDER / CEO / CTO
          .hstack.text-white-50.gap-1
            .me-2
              %i.ri-map-pin-user-line.me-1.text-white.text-opacity-75.fs-16.align-middle>
              = User.first.location || 'Sydney, Australia'
            / %div
            /   %i.ri-building-line.me-1.text-white.text-opacity-75.fs-16.align-middle>
            /   btn.group
  .row
    .col-lg-12
      %div
        .tab-content.pt-4.text-muted
          .tab-pane.active.show#overview-tab{ role: 'tabpanel' }
            .row
              .col-xxl-3
                .card
                  .card-body
                    %h5.card-title.mb-3 About
                    %p
                      Contributing to humanity via reliable and intuitive software. Communication and transparency are key.
                    .d-flex.flex-wrap.gap-2
                      %div
                        %a.avatar-xs.d-block{ href: 'https://github.com/Steven-Chang', target: '_blank' }
                          %span.avatar-title.rounded-circle.fs-16.bg-dark.text-light
                            %i.ri-github-fill
                      %div
                        = mail_to 'stevenchang5000@protonmail.com', class: 'avatar-xs d-block' do
                          %span.avatar-title.rounded-circle.fs-16.bg-primary
                            %i.ri-mail-fill

                .card
                  .card-body
                    %h5.card-title.mb-4 Skills
                    .d-flex.flex-wrap.gap-2.fs-15
                      - Tool.where(visible: true).order(:name).each do |tool|
                        %a.badge.bg-primary-subtle.text-primary{href: 'javascript:void(0);'}= tool.name
              .col-xxl-9
                .row
                  .col-lg-12
                    .card
                      .card-body
                        %h5.card-title.mb-3 Portfolio
                        .acitivity-timeline
                          - Project.where(private: false).order(start_date: :desc).each_with_index do |project, index|
                            .acitivity-item.d-flex{ class: index.positive? ? 'mt-3' : '' }
                              .flex-shrink-0.avatar-xs.acitivity-avatar
                                .avatar-title.bg-success-subtle.text-success.rounded-circle
                              .flex-grow-1.ms-3
                                %h6.mb-1
                                  = project.title
                                  %span.badge.bg-primary-subtle.text-primary.align-middle= project.role
                                %small.mb-0.text-muted #{project.start_date.strftime('%d %b %y')} - #{project.end_date&.strftime('%d %b %y') || 'Now'} (#{distance_of_time_in_words(project.start_date, project.end_date || Time.current)})
                              .d-block
                                - if project.logo.url
                                  = image_tag project.logo.url, class: 'float-right', style: 'height: 40px;'
