.container-fluid#transactions
  .row
    .col-12
      .page-title-box.d-flex.align-items-center
        %h4.mb-sm-0.text-nowrap.me-3 Transactions
  .row
    .col-xl-3.col-lg-4
      .card
        .card-header
          %h5.fs-16.mb-0 Filters
        .card-body
          = search_form_for @q, url: tranxactions_path do |f|
            .mb-3
              .form-label Date
              .d-flex.gap-2.align-items-center
                = f.search_field :date_gteq, class: 'form-control form-control-sm'
                = f.search_field :date_lteq, class: 'form-control form-control-sm'
            .mb-3
              .form-label Description
              = f.search_field :description_cont, class: 'form-control form-control-sm'
            = f.submit "Search", class: 'btn btn-primary'
    .col-xl-9.col-lg-8
      %div
        .card
          .card-body
            .tab-content.text-muted
              #productnav-all.tab-pane.active{role: "tabpanel"}
                #table-product-list-all.table-card.gridjs-border-none
                  .gridjs.gridjs-container{role: "complementary", style: "width: 100%;"}
                    .gridjs-wrapper{style: "height: auto;"}
                      %table.gridjs-table{role: "grid", style: "height: auto;"}
                        %thead.gridjs-thead
                          %tr.gridjs-tr
                            %th.gridjs-th.gridjs-th-sort.text-muted{ style: 'width: 120px' }
                              .gridjs-th-content= sort_link(@q, :date, 'Date', default_order: :desc)
                            %th.gridjs-th.gridjs-th-sort.text-muted
                              .gridjs-th-content Description
                            %th.gridjs-th.gridjs-th-sort.text-muted
                              .gridjs-th-content Amount
                            %th.gridjs-th.gridjs-th-sort.text-muted{"data-column-id" => "action", style: "width: 80px;", tabindex: "0"}
                              .gridjs-th-content Action
                        %tbody.gridjs-tbody
                          - @tranxactions.each do |tranxaction|
                            %tr.gridjs-tr
                              %td.gridjs-td{"data-column-id" => "date"}= tranxaction.date.strftime("%d %b %Y")
                              %td.gridjs-td{ "data-column-id" => "description" }= tranxaction.description
                              %td.gridjs-td{"data-column-id" => "amount"}= number_to_currency tranxaction.amount
                              %td.gridjs-td{"data-column-id" => "action"}
                                %span
                                  .dropdown
                                    %button.btn.btn-soft-secondary.btn-sm.dropdown{ "aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button" }
                                      %i.ri-more-fill
                                    %ul.dropdown-menu.dropdown-menu-end
                                      %li
                                        = link_to tranxaction, class: 'dropdown-item' do
                                          %i.ri-eye-fill.align-bottom.me-2.text-muted
                                          View
                                      %li
                                        = link_to edit_tranxaction_path(tranxaction), class: 'dropdown-item edit-list' do
                                          %i.ri-pencil-fill.align-bottom.me-2.text-muted
                                          Edit
                                      %li.dropdown-divider
                                      %li
                                        = link_to tranxaction, class: 'dropdown-item remove-list', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do
                                          %i.ri-delete-bin-fill.align-bottom.me-2.text-muted
                                          Delete
                    .gridjs-footer
                      .gridjs-pagination
                        .gridjs-summary{"aria-live" => "polite", role: "status", title: "Page 1 of 2"}
                          Showing
                          %b 1
                          to
                          %b 10
                          of
                          %b 12
                          results
                        .gridjs-pages
                          %button{"aria-label" => "Previous", disabled: "disabled", role: "button", tabindex: "0", title: "Previous"} Previous
                          %button.gridjs-currentPage{"aria-label" => "Page 1", role: "button", tabindex: "0", title: "Page 1"} 1
                          %button{"aria-label" => "Page 2", role: "button", tabindex: "0", title: "Page 2"} 2
                          %button{"aria-label" => "Next", role: "button", tabindex: "0", title: "Next"} Next
                    #gridjs-temp.gridjs-temp
