%header#page-topbar
  .layout-width
    .navbar-header
      .d-flex
        .horizontal-logo
          = link_to root_path, class: 'logo logo-dark' do
            %span.logo-sm
              / %img{alt: "", height: "22", src: "assets/images/logo-sm.png"}/
              .fs-5.text-white Full Stack Chang
            %span.logo-lg
              / %img{alt: "", height: "17", src: "assets/images/logo-dark.png"}/
              .fs-2.text-white Full Stack Chang
          = link_to root_path, class: 'logo logo-light' do
            %span.logo-sm
              / %img{alt: "", height: "22", src: "assets/images/logo-sm.png"}/
              .fs-5.text-white Full Stack Chang
            %span.logo-lg
              / %img{alt: "", height: "17", src: "assets/images/logo-light.png"}/
              .fs-2.text-white Full Stack Chang
      .d-flex.align-items-center
        .header-item
          %button.btn.btn-icon.btn-topbar.btn-ghost-secondary.rounded-circle.light-dark-mode{ type: 'button' }
            %i.bx.bx-moon.fs-22
        - if current_user
          .dropdown.ms-sm-3.header-item.topbar-user
            %button.btn.btn-icon.btn-topbar.btn-ghost-secondary.rounded-circle#page-header-user-dropdown{ 'aria-expanded' => 'true', 'aria-haspopup' => 'true', 'data-bs-toggle' => 'dropdown', type: 'button' }
              %i.bx.bx-user.fs-22
            .dropdown-menu.dropdown-menu-end{ 'data-popper-placement' => 'bottom-end' }
              = link_to tax_summaries_path, class: 'dropdown-item' do
                %span.align-middle Tax Summaries
              = link_to tranxactions_path, class: 'dropdown-item' do
                %span.align-middle Transactions
              .dropdown-divider
              - if current_user.admin?
                = link_to admin_root_path, class: 'dropdown-item' do
                  %span.align-middle Admin
              = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
                %span.align-middle{ 'data-key' => 't-logout' } Logout
        - else
          .header-item
            = link_to new_user_session_path do
              %button.btn.btn-icon.btn-topbar.btn-ghost-secondary.rounded-circle{ type: 'button' }
                %i.bx.bx-log-in.fs-22
