- unless hide_navbar
  %header#page-topbar
    .layout-width
      .navbar-header
        .d-flex
          .horizontal-logo
            = link_to root_path, class: 'logo logo-dark' do
              %span.logo-sm
                / %img{alt: "", height: "22", src: "assets/images/logo-sm.png"}/
                .fs-5.text-white Full Stack Chang
              %span.logo-lg
                / %img{alt: "", height: "17", src: "assets/images/logo-dark.png"}/
                .fs-2.text-white Full Stack Chang
            = link_to root_path, class: 'logo logo-light' do
              %span.logo-sm
                / %img{alt: "", height: "22", src: "assets/images/logo-sm.png"}/
                .fs-5.text-white Full Stack Chang
              %span.logo-lg
                / %img{alt: "", height: "17", src: "assets/images/logo-light.png"}/
                .fs-2.text-white Full Stack Chang
        .d-flex.align-items-center
          .header-item
            %button.btn.btn-icon.btn-topbar.btn-ghost-secondary.rounded-circle.light-dark-mode{ type: 'button' }
              %i.bx.bx-moon.fs-22
          - if current_user
            .dropdown.ms-sm-3.header-item.topbar-user
              %button.btn.btn-icon.btn-topbar.btn-ghost-secondary.rounded-circle#page-header-user-dropdown{"aria-expanded" => "true", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", type: "button"}
                %i.bx.bx-user.fs-22
              .dropdown-menu.dropdown-menu-end{"data-popper-placement" => "bottom-end", style: "position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 62px);"}
                - if current_user.admin?
                  = link_to admin_root_path, class: 'dropdown-item' do
                    %i.mdi.mdi-account-hard-hat.text-muted.fs-16.align-middle.me-1
                    %span.align-middle Admin
                .dropdown-divider
                = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
                  %i.mdi.mdi-logout.text-muted.fs-16.align-middle.me-1
                  %span.align-middle{"data-key" => "t-logout"} Logout
          - else
            .header-item
              = link_to new_user_session_path do
                %button.btn.btn-icon.btn-topbar.btn-ghost-secondary.rounded-circle{ type: 'button' }
                  %i.bx.bx-log-in.fs-22
    
