.container-fluid#home
  .row
    .col-md-4
      .card.text-center.mb-3
        .card-body
          = image_tag "https://res.cloudinary.com/hv5cxagki/image/upload/v1665701852/fsc/47955495901_fc0efe5e04_b-1_p7mtiu", style: 'border: 1px solid #e4eaec; padding: 3px;', class: 'w-100'
          %p
            FOUNDER/CEO @
            %a{:href => "https://btn.group/", :target => "_blank"} btn.group
          %ul.text-left.mb-0{:style => "padding-inline-start: 20px;"}
            %li Aiming to contribute to humanity via intuitive and reliable software.
            %li Communication and transparency are key.
            %li Respect and thanks to the software community.
            %ul
      .card.p-3.mb-3
        %h4.card-title{:style => "margin-bottom: .858rem;"}
          Contact Information
        .card-body.p-0
          %p.mb-10.text-nowrap{"data-info-type" => "email"}
            %i.bi.bi-envelope.mr-10
            %span.text-break
              = mail_to 'stevenchang5000@protonmail.com'
          %p.mb-10.text-nowrap{"data-info-type" => "github"}
            %i.bi.bi-github.mr-10
            %span.text-break
              = link_to 'Github', 'https://github.com/Steven-Chang'
          %p.mb-10.text-nowrap{"data-info-type" => "address"}
            %i.bi.bi-geo-alt.mr-10
            %span.text-break
              Sydney, Australia
    .col-md-8
      %ul.nav.nav-pills.mb-3{ role: "tablist" }
        %li.nav-item{ role: "presentation" }
          %button.nav-link.active{ "aria-controls" => "pills-portfolio", "aria-selected" => "true", "data-bs-target" => "#pills-portfolio", "data-bs-toggle" => "pill", role: "tab", type: "button" } Portfolio
        %li.nav-item{ role: "presentation" }
          %button.nav-link{ "aria-controls" => "pills-tools", "aria-selected" => "false", "data-bs-target" => "#pills-tools", "data-bs-toggle" => "pill", role: "tab", type: "button" } Tools
        / %li.nav-item{ role: "presentation" }
        /   %button.nav-link{ "aria-controls" => "pills-proud-of", "aria-selected" => "false", "data-bs-target" => "#pills-proud-of", "data-bs-toggle" => "pill", role: "tab", type: "button" } Proud of
        %li.nav-item{ role: "presentation" }
          %button.nav-link{ "aria-controls" => "pills-references", "aria-selected" => "false", "data-bs-target" => "#pills-references", "data-bs-toggle" => "pill", role: "tab", type: "button" } References
      .tab-content
        .tab-pane.fade.show.active#pills-portfolio{ "aria-labelledby" => "pills-portfolio", role: "tabpanel" }
          .card
            .card-body
              %ul.timeline.timeline-single
                - Project.where(private: false).order(start_date: :desc).each do |project|
                  %li.timeline-item
                    .timeline-dot
                    .timeline-content
                      - if project.logo.present?
                        = image_tag project.logo.url, class: 'float-right', style: 'max-width: 120px;'
                      %span.block.mb-5
                        %h5
                          - if project.url.present?
                            = link_to project.title, project.url, target: '_blank', rel: 'noopener'
                          - else
                            = project.title
                      %span.block.font-size-15.mb-5 #{project.start_date.strftime('%d %b %y')} - #{project.end_date&.strftime('%d %b %y') || 'NOW'} (#{distance_of_time_in_words(project.start_date, project.end_date || Time.current)})
                      - if project.role.present?
                        %span.block.mb-5= project.role
                      /
                        <haml_silent> if project.description.present? </haml_silent><haml_block>
                        <div style='white-space: pre-line;'>
                        <haml_loud> project.description </haml_loud>
                        </div>
                        </haml_block>
        .tab-pane.fade#pills-tools{ "aria-labelledby" => "pills-tools-tab", role: "tabpanel" }
          .card
            - Tool::CATEGORY_LABEL_MAPPING.each do |key, value|
              - visible_tools = Tool.where(category: key, visible: true)
              .card-body
                %h5.card-title
                  %span #{value} (#{visible_tools.count})
                - visible_tools.order(:name).each do |tool|
                  - if tool.logo.present?
                    .mb-2.mr-2.text-center.d-inline-block.bg-light.align-top{:style => "border: 1px solid white; border-radius: 6px; height: 135px; width: 120px;"}
                      %div{:style => "padding: 10px 25px 0 25px;"}
                        .d-inline-block.bg-white.text-center.p-1{:style => "height: 70px; width: 70px; border-radius: 4px;"}
                          = image_tag tool.logo.variant(:thumb).processed
                      .p-1{:style => "line-height: 22px; font-size: 13px; font-weight: 600; color: rgb(51, 51, 51)"}= tool.name
        / .tab-pane.fade#pills-proud-of{ "aria-labelledby" => "pills-proud-of-tab", role: "tabpanel" }
        /   %ul.blocks.blocks-100.blocks-xxl-4.blocks-lg-3.blocks-md-2.mt-4{"data-filters" => "#exampleFilter", "data-plugin" => "filterable"}
        /     %li
        /       .card
        /         %figure.card-img-top.overlay-hover.overlay
        /           %img.overlay-figure.overlay-scale{:src => "https://res.cloudinary.com/hpxlnqput/image/upload/w_653,h_432,c_pad,b_whitesmoke/v1555835262/Screen_Shot_2019-04-21_at_6.27.08_pm_rj2hla.png"}/
        /           %figcaption.overlay-panel.overlay-background.overlay-fade.overlay-icon
        /             %a.icon.wb-search{:href => "https://res.cloudinary.com/hpxlnqput/image/upload/v1555835262/Screen_Shot_2019-04-21_at_6.27.08_pm_rj2hla.png"}
        /     %li
        /       .card
        /         %figure.card-img-top.overlay-hover.overlay
        /           %img.overlay-figure.overlay-scale{:src => "https://res.cloudinary.com/hpxlnqput/image/upload/w_653,h_432,c_pad,b_whitesmoke/v1555834688/thumbnail_Screen_Shot_2019-03-18_at_7.51.08_am_xvygx1.jpg"}/
        /           %figcaption.overlay-panel.overlay-background.overlay-fade.overlay-icon
        /             %a.icon.wb-search{:href => "https://res.cloudinary.com/hpxlnqput/image/upload/v1555834688/thumbnail_Screen_Shot_2019-03-18_at_7.51.08_am_xvygx1.jpg"}
        /     %li
        /       .card
        /         %figure.card-img-top.overlay-hover.overlay
        /           %img.overlay-figure.overlay-scale{:src => "https://res.cloudinary.com/hpxlnqput/image/upload/w_653,h_432,c_pad,b_whitesmoke/v1555834687/thumbnail_Screen_Shot_2019-03-18_at_7.49.56_am_nctgse.jpg"}/
        /           %figcaption.overlay-panel.overlay-background.overlay-fade.overlay-icon
        /             %a.icon.wb-search{:href => "https://res.cloudinary.com/hpxlnqput/image/upload/v1555834687/thumbnail_Screen_Shot_2019-03-18_at_7.49.56_am_nctgse.jpg"}
        .tab-pane.fade#pills-references{ "aria-labelledby" => "pills-references-tab", role: "tabpanel" }
          .card
            .card-body
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th Name
                      %th Position
                      %th Company
                      %th Phone
                      %th Email
                  %tbody
                    %tr
                      %td Brett Macdonald
                      %td CEO
                      %td Ezy Raise
                      %td +61 2 9237 8427
                      %td= mail_to 'brett@CHILfundraising.com'
                    %tr
                      %td Ruth Wang
                      %td Senior Developer
                      %td Maestrano
                      %td
                      %td
