<div class="page">
  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <!-- Page Widget -->
        <div class="card card-shadow text-center">
          <div class="card-block">
            <span class="avatar avatar-lg" href="javascript:void(0)">
              <img src="https://res.cloudinary.com/hpxlnqput/image/upload/f_auto,w_300,q_100/v1567319338/14280689_fwswez">
            </span>
            <h4 class="profile-user">Steven Chang</h4>
            <p class="profile-job">Chief Technology Officer @ <a href='https://www.chilfundraising.com/' target='_blank' style=''>CHIL Fundraising</a></p>
            <div class='text-center'>
              <p>Aiming to contribute to humanity via intuitive and reliable software.</p>
              <p>Communication and transparency are key.</p>
              <p>Respect and thanks to the software community.</p>
            </div>
          </div>
        </div>
        <!-- End Page Widget -->
      </div>

      <div class="col-lg-9">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#portfolio"
                  aria-controls="portfolio" role="tab">Portfolio</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#tools" aria-controls="tools"
                  role="tab">Tools</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#proud-of" aria-controls="proud-of"
                  role="tab">Proud of</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active animation-slide-left" id="portfolio" role="tabpanel">
                <div class="user-background card card-shadow">
                  <div class="card-block">
                    <ul class="timeline timeline-single">
                      <% Project.where(private: false).order(start_date: :desc).each do |project| %>
                        <li class="timeline-item">
                          <div class="timeline-dot"></div>
                          <div class="timeline-content">
                            <% if project.attachments.present? %>
                              <%= image_tag project.attachments.first.url, class: 'float-right', style: 'max-width: 120px;' %>
                            <% end %>
                            <span class="block mb-5"><h5><%= project.title %></h5></span>
                            <span class="block font-size-15 mb-5"><%= project.start_date.strftime('%d %b %y') %> - <%= project.end_date.present? ? project.end_date.strftime('%d %b %y') : 'NOW' %> (<%= project.duration_formatted %>)</span>
                            <% if project.role.present? %>
                              <span class="block mb-5"><%= project.role %></span>
                            <% end %>
                            <% if project.description.present? %>
                              <%= project.description %>
                            <% end %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane animation-slide-left" id="tools" role="tabpanel">
                <div class="user-background card card-shadow">
                  <% Tool::CATEGORY_LABEL_MAPPING.each do |key, value| %>
                    <div class="card-block">
                      <h5 class="card-title"><span><%= "#{value} (#{Tool.where(category: key).count})" %></span></h5>
                      <% Tool.where(category: key).order(:name).each do |tool| %>
                        <div class="mb-2 mr-2 text-center d-inline-block bg-light align-top" style="border: 1px solid white; border-radius: 6px; height: 135px; width: 120px;">
                          <div style="padding: 10px 25px 0 25px;">
                            <div class="d-inline-block bg-white text-center p-1" style="height: 70px; width: 70px; border-radius: 4px;">
                              <%= cl_image_tag tool.attachments.first.cloudinary_public_id, width: 120, fetch_format: :auto, style: 'width: 60px;' %>
                            </div>
                          </div>
                          <div class="p-1" style="line-height: 22px; font-size: 13px; font-weight: 600; color: rgb(51, 51, 51)"><%= tool.name %></div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="tab-pane animation-slide-left" id="proud-of" role="tabpanel">
                <ul class="blocks blocks-100 blocks-xxl-4 blocks-lg-3 blocks-md-2 mt-4" data-plugin="filterable"
                  data-filters="#exampleFilter">
                  <li>
                    <div class="card card-shadow">
                      <figure class="card-img-top overlay-hover overlay">
                        <img class="overlay-figure overlay-scale" src="https://res.cloudinary.com/hpxlnqput/image/upload/w_653,h_432,c_pad,b_whitesmoke/v1555835262/Screen_Shot_2019-04-21_at_6.27.08_pm_rj2hla.png"
                        >
                        <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                          <a class="icon wb-search" href="https://res.cloudinary.com/hpxlnqput/image/upload/v1555835262/Screen_Shot_2019-04-21_at_6.27.08_pm_rj2hla.png"></a>
                        </figcaption>
                      </figure>
                    </div>
                  </li>
                  <li>
                    <div class="card card-shadow">
                      <figure class="card-img-top overlay-hover overlay">
                        <img class="overlay-figure overlay-scale" src="https://res.cloudinary.com/hpxlnqput/image/upload/w_653,h_432,c_pad,b_whitesmoke/v1555834688/thumbnail_Screen_Shot_2019-03-18_at_7.51.08_am_xvygx1.jpg"
                        >
                        <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                          <a class="icon wb-search" href="https://res.cloudinary.com/hpxlnqput/image/upload/v1555834688/thumbnail_Screen_Shot_2019-03-18_at_7.51.08_am_xvygx1.jpg"></a>
                        </figcaption>
                      </figure>
                    </div>
                  </li>
                  <li>
                    <div class="card card-shadow">
                      <figure class="card-img-top overlay-hover overlay">
                        <img class="overlay-figure overlay-scale" src="https://res.cloudinary.com/hpxlnqput/image/upload/w_653,h_432,c_pad,b_whitesmoke/v1555834687/thumbnail_Screen_Shot_2019-03-18_at_7.49.56_am_nctgse.jpg"
                        >
                        <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                          <a class="icon wb-search" href="https://res.cloudinary.com/hpxlnqput/image/upload/v1555834687/thumbnail_Screen_Shot_2019-03-18_at_7.49.56_am_nctgse.jpg"></a>
                        </figcaption>
                      </figure>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel -->
      </div>
    </div>
  </div>
</div>
