<!DOCTYPE html>
<html class="no-js css-menubar" lang="<%=I18n.locale%>">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title><%= [@page_title, ActiveAdmin.application.site_title(self)].compact.join(" | ") %></title>

  <% ActiveAdmin.application.stylesheets.each do |style, options| %>
    <% unless style.include? 'active_admin' %>
      <%= stylesheet_link_tag style, options %>
    <% end %>
  <% end %>
  <% ActiveAdmin.application.javascripts.each do |path| %>
    <%= javascript_include_tag path %>
  <% end %>

  <%= favicon_link_tag ActiveAdmin.application.favicon if ActiveAdmin.application.favicon %>

  <% ActiveAdmin.application.meta_tags_for_logged_out_pages.each do |name, content| %>
    <%= tag(:meta, name: name, content: content) %>
  <% end %>

  <!-- Google Fonts -->
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

  <!--[if lt IE 9]>
  <script src="../../../global/vendor/html5shiv/html5shiv.min.js"></script>
  <![endif]-->
  
  <!--[if lt IE 10]>
  <script src="../../../global/vendor/media-match/media.match.min.js"></script>
  <script src="../../../global/vendor/respond/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body class="<%= @body_class %>">
  <%= yield %>
</body>
</html>