!!!
%html{ 'data-bs-theme' => 'light', 'data-layout' => 'horizontal', 'data-preloader' => 'enable', 'data-sidebar' => 'light', 'data-sidebar-image' => 'none', 'data-sidebar-size' => 'lg', 'data-topbar' => 'dark', lang: 'en' }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui", :name => "viewport"}/
    %meta{:content => "The personal website/portfolio of full stack web developer, Steven Chang.", :name => "description"}/
    %meta{:content => "Steven Chang", :name => "author"}/
    %title= @page_title ? "#{@page_title} | Full Stack Chang" : 'Full Stack Chang'
    = favicon_link_tag asset_path('fsc.png'), rel: 'apple-touch-icon'
    = favicon_link_tag asset_path('fsc.png')
    / Font Awesome
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/225e9c2d3c.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload'
  %body
    #layout-wrapper
      = render 'header'
      .main-content
        .page-content
          = yield
      = render 'footer'
